sb_publishable_5oqP46Du4gQHXqL1EwM0ng_67fwhXp1
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9vYXBmcW1oZHpqZXVqYnlubWF4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk4MjM4MTAsImV4cCI6MjA5NTM5OTgxMH0.pkWDUYWHh6MHLt8sVKf1nX3kUGWnk84BRKPU2IEEV-o
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9vYXBmcW1oZHpqZXVqYnlubWF4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTgyMzgxMCwiZXhwIjoyMDk1Mzk5ODEwfQ.wZgdQIxz81SbOTt-GYZ86ipSbNNA9roN_scKbmnNzpc
SUPABASE_URL = "https://xxxxx.supabase.co"
SUPABASE_ANON_KEY = "eyJ..."
SUPABASE_SERVICE_KEY = "eyJ..."
ADMIN_TOKEN = "123456"